body, .optionButton  {
	font-family: monospace;
}
		/* AUTH FORM */
.formContainer {
		text-align: center;
	  min-width: 50%;
    margin: 2% 25%;
}

.formContainer form {
	padding: 15% 10%;
  border: 1px solid beige;
  font-size: 1.1rem;
  font-weight: bold;
}

.formContainer input {
		padding: 0.6rem;
    border: 1px solid #252514;
    border-radius: 10px;
}

.formContainer button {
	  color: white;
    background-color: #480505d4;
    padding: 0.7rem 2rem;
    border: 1px solid beige;
    border-radius: 10px;
    cursor: pointer;
}

header {
	text-align: center;
}

.optionsList {
	width: 50%;
	height: 9vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.optionButton {
	padding: 1%;
	margin: 1%;
	background-color: green;
	color: white;
	border-radius: 5px;
	transition: all .3s ease-out;
}

.optionButton:hover {
	padding: 1.5%;
	margin: 0.5%;
	font-size: 1rem;
}

.bookingsList {
	width: 70%;
	margin: 2% auto;
}

.bookingsRow {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.bookingsRowHead {
	font-size: 1rem;
	font-style: italic;
  font-weight: bolder;
}

.bookingsRow span {
	padding: 2%;
	min-width: 15%;
}

	/* POPUP */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5% auto;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-width: 30%;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.selectclass {
	  width: 45%;
    text-align: center;
    padding: 1% 10%;
}

.popup input {
	padding: 0.3rem;
	text-align: center;
}

.manageBookingPopup {
	width: 80%;
}